@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Modak');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;    
}

.select-city-container {
    background: linear-gradient(180deg, #83A4D4 0%, #B6FBFF 100%);
    height: 100%;    
}

.select-city-container .header-container {
    display: grid;
    grid-template-columns: 600px 400px;
}

.select-city-container .header-container .header h2 {
    text-align: left;
    margin: 0;
    font-family: 'Modak', cursive;
    font-size: 72px;
    color: white;
    font-weight: 300;
    padding-top: 40px;
    margin-left: 80px;
}

.select-city-container .header-container .header p {
    color: white;
    font-size: 18px;
    line-height: 1.8em;
    margin-top: 25px;
    margin-left: 80px;
    letter-spacing: 0.5px;    
    font-weight: 300;
}

.select-city-container .header-container .header-welcome-img {
    padding-top: 50px;
}

.select-city-container .header-container .header-welcome-img img {
    width: 450px;
    height: 300px;
}

.select-city-container .select-city-input-container {
    width: 90%;
    margin: 0 auto;    
}

.select-city-container .select-city-input-container h2 {
    margin: 0;
    font-family: 'Modak', cursive;
    font-size: 36px;
    color: white;    
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.select-city-container .popular-cities-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

.select-city-container .popular-cities-container h2 {
    margin: 0;
    font-family: 'Modak', cursive;
    font-size: 24px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.select-city-container .popular-cities-container .cities .city-container {
    display: inline-block;
    width: 200px;    
    text-align: center;
    cursor: pointer;
    transition: transform linear .3s;
}

.select-city-container .popular-cities-container .cities .city-container:hover {
    transform: scale(1.1);
}

.select-city-container .popular-cities-container .cities .city-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;    
}

.select-city-container .popular-cities-container .cities .city-container h5 {
    font-size: 16px;    
    letter-spacing: .5px;    
    color: rgba(0, 0, 0, 0.6);
}

.place-container {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;    
}

.place-container .container {
    width: 90%;
    margin: 0 auto;
}

.place-container .header a {
    text-decoration: none;
}

.place-container .header h2 {
    margin: 0;    
    font-family: 'Modak', cursive;
    font-size: 72px;
    text-align: right;
    color: white;
    font-weight: 300;
    padding-top: 40px;
}

.place-container .place-details .place-name-container h1 {
    color: white;
    font-size: 56px;
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
    margin: 0;
}

.place-container .place-details .place-weather h3 {
    color: white;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 2px;    
    margin: 30px 0;
    margin-top: 50px        
}

.place-container .place-details .place-weather h3 .description {
    font-size: 24px;
}

.place-container .place-details .place-local-news h4 {
    color: white;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 30px 0; 
    margin-top: 50px;   
}


.place-container .place-local-news .content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;      
    margin-top: 20px;
}

.place-container .place-local-news .content-container .news-container {    
    width: 30%;    
    height: 150px;    
    background: #000000;    
    margin-right: 35px;
    margin-bottom: 35px;
    border-radius: 5px;
    transition: transform .3s ease;
    cursor: pointer;
    box-shadow: 0 0.938em 2.188em rgba(50,50,93,.15), 0 0.313em 0.938em rgba(0,0,0,.1);
    border-radius: 10px;
    display: grid;    
    grid-template-columns: 150px 220px;
}

.place-container .place-local-news .content-container .news-container:hover {
    transform: scale(1.1);
}

.place-container .place-local-news .content-container  .news-container .image-container img {
    width: 150px;
    height: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.place-container .place-local-news .content-container  .news-container .article-container {
    width: 60%;
    margin-left: 20px;
}

.place-container .place-local-news .content-container  .news-container .article-container h3  {
    color: white;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}



